{:highlights [{:id #uuid "6780dd8b-ce32-40a6-8e20-a257378b6eca",
               :page 8,
               :position {:bounding {:x1 57.71875,
                                     :y1 572.6484375,
                                     :x2 473.6676330566406,
                                     :y2 695.75,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 57.71875,
                                   :y1 572.6484375,
                                   :x2 144.1116943359375,
                                   :y2 587.1484375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0703125,
                                   :y1 602.015625,
                                   :x2 87.2265625,
                                   :y2 616.515625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.40625,
                                   :y1 602.015625,
                                   :x2 220.1015167236328,
                                   :y2 616.515625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 617.8203125,
                                   :x2 87.21875,
                                   :y2 632.3203125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 617.8203125,
                                   :x2 473.6676330566406,
                                   :y2 632.3203125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 633.6953125,
                                   :x2 87.21875,
                                   :y2 648.1953125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 633.6953125,
                                   :x2 265.0260009765625,
                                   :y2 648.1953125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 649.578125,
                                   :x2 87.21875,
                                   :y2 664.078125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 649.578125,
                                   :x2 304.98846435546875,
                                   :y2 664.078125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 665.3828125,
                                   :x2 87.21875,
                                   :y2 679.8828125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 665.3828125,
                                   :x2 307.71356201171875,
                                   :y2 679.8828125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 681.25,
                                   :x2 87.21875,
                                   :y2 695.75,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 681.25,
                                   :x2 268.38555908203125,
                                   :y2 695.75,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 8},
               :content {:text "Financial risks• Project cost increases• Rectification work due to faulty workmanship and/or non-compliance• Loss by theft or fire on the site• Site protection costs (security, safety)• Occupational health and safety claims• Adjoining property owner claim"},
               :properties {:color "yellow"}}
              {:id #uuid "6780ddd9-b659-40f7-b077-809c5b12c722",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 709.875,
                                     :x2 673,
                                     :y2 1913.546875,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 57.7109375,
                                   :y1 709.875,
                                   :x2 132.37548828125,
                                   :y2 724.375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 739.3125,
                                   :x2 87.21875,
                                   :y2 753.8125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 739.3125,
                                   :x2 322.9461975097656,
                                   :y2 753.8125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 755.1171875,
                                   :x2 87.21875,
                                   :y2 769.6171875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 755.1171875,
                                   :x2 294.00640869140625,
                                   :y2 769.6171875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 770.9921875,
                                   :x2 87.21875,
                                   :y2 785.4921875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 770.9921875,
                                   :x2 606.523193359375,
                                   :y2 785.4921875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 785.9921875,
                                   :x2 361.10186767578125,
                                   :y2 800.4921875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 801.8671875,
                                   :x2 87.21875,
                                   :y2 816.3671875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 801.8671875,
                                   :x2 377.5708923339844,
                                   :y2 816.3671875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 0,
                                   :y1 961.7734375,
                                   :x2 673,
                                   :y2 1913.546875,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 8},
               :content {:text "Quality risks• Adequacy of drawings and specifications• Standard of workmanship by others• Compliance with regulations (building standards, planning requirements, occupational health and safety, environmental protection standards)• Technical ability to direct and assess workmanship"},
               :properties {:color "yellow"}}
              {:id #uuid "6780ddf8-0960-43c3-879e-005352a87e16",
               :page 9,
               :position {:bounding {:x1 57.71875,
                                     :y1 87.3984375,
                                     :x2 400.4195556640625,
                                     :y2 163.0078125,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 57.71875,
                                   :y1 87.3984375,
                                   :x2 119.29150390625,
                                   :y2 101.8984375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0703125,
                                   :y1 116.8359375,
                                   :x2 87.2265625,
                                   :y2 131.3359375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.40625,
                                   :y1 116.8359375,
                                   :x2 400.4195556640625,
                                   :y2 131.3359375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0703125,
                                   :y1 132.640625,
                                   :x2 87.2265625,
                                   :y2 147.140625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.40625,
                                   :y1 132.640625,
                                   :x2 292.67010498046875,
                                   :y2 147.140625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 148.5078125,
                                   :x2 87.21875,
                                   :y2 163.0078125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 148.5078125,
                                   :x2 204.76449584960938,
                                   :y2 163.0078125,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 9},
               :content {:text "Time risks• Identification and engagement of suitable tradespeople• Coordination and continuity of work• Completion of work"},
               :properties {:color "yellow"}}
              {:id #uuid "6780de0f-fac5-4ca4-904a-86cab6bb2952",
               :page 9,
               :position {:bounding {:x1 57.7109375,
                                     :y1 177.1328125,
                                     :x2 322.9725341796875,
                                     :y2 236.875,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 57.7109375,
                                   :y1 177.1328125,
                                   :x2 128.84078979492188,
                                   :y2 191.6328125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 206.5078125,
                                   :x2 87.21875,
                                   :y2 221.0078125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 206.5078125,
                                   :x2 322.9725341796875,
                                   :y2 221.0078125,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0546875,
                                   :y1 222.375,
                                   :x2 87.21875,
                                   :y2 236.875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.390625,
                                   :y1 222.375,
                                   :x2 222.15126037597656,
                                   :y2 236.875,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 9},
               :content {:text "Future risks• Costs of insuring prospective purchasers• Claims by a purchaser"},
               :properties {:color "yellow"}}
              {:id #uuid "6780de53-898e-4bde-94e9-e8c16a12e88f",
               :page 9,
               :position {:bounding {:x1 57.71875,
                                     :y1 412.84375,
                                     :x2 595.508544921875,
                                     :y2 535.515625,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 57.71875,
                                   :y1 412.84375,
                                   :x2 171.1750946044922,
                                   :y2 430.84375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 57.71875,
                                   :y1 444.921875,
                                   :x2 595.508544921875,
                                   :y2 459.421875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 57.71875,
                                   :y1 459.96875,
                                   :x2 154.48789978027344,
                                   :y2 474.46875,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0703125,
                                   :y1 489.34375,
                                   :x2 87.2265625,
                                   :y2 503.84375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.40625,
                                   :y1 489.34375,
                                   :x2 547.667724609375,
                                   :y2 503.84375,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0703125,
                                   :y1 505.2265625,
                                   :x2 87.2265625,
                                   :y2 519.7265625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.40625,
                                   :y1 505.2265625,
                                   :x2 560.8221435546875,
                                   :y2 519.7265625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 78.0703125,
                                   :y1 521.015625,
                                   :x2 87.2265625,
                                   :y2 535.515625,
                                   :width 673,
                                   :height 951.7774642209231}
                                  {:x1 98.40625,
                                   :y1 521.015625,
                                   :x2 427.0086975097656,
                                   :y2 535.515625,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 9},
               :content {:text "Reducing risks Risks can be reduced by ensuring you have appropriate contracts and insurance policies in place. This may include:• entering into a major domestic building contract with a registered domestic builder• making sure your registered domestic builder has domestic building insurance cover• obtaining insurance policy cover from an insurance provider"},
               :properties {:color "yellow"}}
              {:id #uuid "6780fb14-b46b-4ec2-a175-47ebc1112e15",
               :page 10,
               :position {:bounding {:x1 57.7265625,
                                     :y1 263.28125,
                                     :x2 170.30288696289062,
                                     :y2 277.78125,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 57.7265625,
                                   :y1 263.28125,
                                   :x2 170.30288696289062,
                                   :y2 277.78125,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 10},
               :content {:text "Building surveyors"},
               :properties {:color "yellow"}}
              {:id #uuid "6780fb57-8b03-46f7-91e9-feeb77f92c2c",
               :page 10,
               :position {:bounding {:x1 98.4375,
                                     :y1 510.5859375,
                                     :x2 107.42399597167969,
                                     :y2 525.0859375,
                                     :width 673,
                                     :height 951.7774642209231},
                          :rects ({:x1 98.4375,
                                   :y1 510.5859375,
                                   :x2 107.42399597167969,
                                   :y2 525.0859375,
                                   :width 673,
                                   :height 951.7774642209231}),
                          :page 10},
               :content {:text "C"},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
