{:highlights [{:id #uuid "677893d8-cd8b-4c04-adf9-c8e4eadeabf1",
               :page 25,
               :position {:bounding {:x1 107.3046875,
                                     :y1 289.3203125,
                                     :x2 234.96197509765625,
                                     :y2 307.3203125,
                                     :width 673,
                                     :height 951.30521441514},
                          :rects ({:x1 107.3046875,
                                   :y1 289.3203125,
                                   :x2 234.96197509765625,
                                   :y2 307.3203125,
                                   :width 673,
                                   :height 951.30521441514}),
                          :page 25},
               :content {:text "What are Libraries?"},
               :properties {:color "yellow"}}
              {:id #uuid "67789c83-3af5-4da6-860f-7ac71780046c",
               :page 34,
               :position {:bounding {:x1 0,
                                     :y1 463.0625,
                                     :x2 673,
                                     :y2 1912.609375,
                                     :width 673,
                                     :height 951.30521441514},
                          :rects ({:x1 130.609375,
                                   :y1 463.0625,
                                   :x2 384.28369140625,
                                   :y2 478.5625,
                                   :width 673,
                                   :height 951.30521441514}
                                  {:x1 0,
                                   :y1 961.3046875,
                                   :x2 673,
                                   :y2 1912.609375,
                                   :width 673,
                                   :height 951.30521441514}),
                          :page 34},
               :content {:text "'L' LED as this is ho w i t is lab el ed on the boa rd."},
               :properties {:color "yellow"}}
              {:id #uuid "67789ecd-f15c-4bf1-95f1-084056ca7ea8",
               :page 48,
               :position {:bounding {:x1 147,
                                     :y1 78,
                                     :x2 522,
                                     :y2 660,
                                     :width 673,
                                     :height 951.30521441514},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1735958220938},
               :properties {:color "yellow"}}],
 :extra {:page 54}}
